<% content_for :description do %><%= @post.body %><% end %>

<h1><a href="/">Nail Your Theses</a></h1>

<%= render :partial => 'post', :locals => {:post => @post} %>

<br />
<p style="text-align:center; font-size: 2rem;"><a href="/" style="color:white;"><strong>Now, add your own!</strong></a></p>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />