<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="door">
	<h1>Nail It Up</h1>
	<article>
		<p>A short summary of Martin Luther’s life and actions.</p>
		<p>A short summary of Martin Luther’s life and actions.</p>
		<p>A short summary of Martin Luther’s life and actions.</p>
	</article>
	<article>
		<p>A short summary of Martin Luther’s life and actions.</p>
		<p>A short summary of Martin Luther’s life and actions.</p>
		<p>A short summary of Martin Luther’s life and actions.</p>
	</article>
	<article>
		<p>A short summary of Martin Luther’s life and actions.</p>
		<p>A short summary of Martin Luther’s life and actions.</p>
		<p>A short summary of Martin Luther’s life and actions.</p>
	</article>
</body>
</html>