<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="reset.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<section>
		<div class="title">
			<h1>Be Brave</h1>
		</div>
	</section>
	<section>
		<div class="parallax-one">
			<h2>Martin Luther</h2>
		</div>
	</section>
	<section>
		<div class="block">
			<p>A short summary of Martin Luther’s life and actions.</p>
			<p>A short summary of Martin Luther’s life and actions.</p>
			<p>A short summary of Martin Luther’s life and actions.</p>
		</div>
	</section>
	<section>
		<div class="parallax-two">
			<h2>Renewal</h2>
		</div>
	</section>
	<section>
		<div class="block">
			<p>Whatever you want to say about a new movement.</p>
			<p>Whatever you want to say about a new movement.</p>
			<p>Whatever you want to say about a new movement.</p>
		</div>
	</section>
	<section>
		<div class="parallax-three">
			<h2>Nail It Up</h2>
		</div>
	</section>
	<section>
		<div class="block">
			<p>Whatever you want to say about actions.</p>
			<a href="gallary.html">Link to gallary of theses.</a>
			<p>Whatever you want to say about actions.</p>
		</div>
	</section>
</body>
</html>